<doctype html>
<html>

    <head>
        <title>
            Conways's Game of Life
        </title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <body id="body" onresize="app.handleResize()">
        <div id="app">

            <header>
                <h1></h1>
            </header>
            <nav>
                <div class="box">
                    <div class="box-bigtitle">Conway's <br> Game of Life</div>
                </div>

                <div class="box">
                    <div class="box-title">Options</div>
                    <div class="box-items">
                        <div class="box-item slidercontainer">
                            <input type="range" min="1" max="60" class="slider" id="sliderFPS" v-model=fps><br>
                            <label for="sliderFPS">FPS: {{fps}}</label>
                        </div>
                        <div class="box-item">
                            <label class="switch">
                                <input type="checkbox"><!-- v-model=board.autoFit v-on:change=board.autoFitChanged()-->
                                <span class="toggle round"></span>
                            </label>
                            <br>
                            <label for="toggleAutoFit">Auto Fit</label>
                        </div>
                    </div>
                    
                </div>

                <div class="box">
                    <div class="box-title">Commands</div>

                    <div class="box-items">
                        <div class="box-item"> <button v-on:click=playPauseClick>{{labBtnPlayPause}}</button> </div>
                        <div class="box-item"> <button v-on:click=board.step()>Step</button> </div>
                        <div class="box-item"> <button v-on:click=clearClick>Clear</button> </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-title">Load</div>
                    <div class="box-items">
                        <div class="box-item">
                            <select class="select-css">
                                <option>Predefined</option>
                                <option>cross2</option>
                                <option>scholar</option>
                                <option>switchengine</option>
                            </select>
                        </div>
                        <div class="box-item"> 
                            <input type="file" @change="loadFile($event)">
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-title">Theme</div>
                    <div class="box-items">
                        <div class="box-item"> 
                            <button v-on:click=setTheme("Blue")>Blue</button>
                        </div>
                        <div class="box-item"> 
                            <button v-on:click=setTheme("Green")>Green</button>
                        </div>
                        <div class="box-item"> 
                            <button v-on:click=setTheme("Purple")>Purple</button>
                        </div>
                    <div>
                </div>
            </nav>

            <!--tx: {{ board.topLeftCornerX }}, ty: {{ board.topLeftCornerY }}, vw: {{ board.visibleWidth }}, vh: {{ board.visibleHeight }}
            <div id="info"></div-->

            <div id="gridContainer">
                <table id="grid" onwheel="app.handleWheel(event)">
                    <tr v-for="row in board.visibleGrid">
                        <th v-for="cell in row" v-bind:class=cell.status v-on:click=cell.click()><div class="void"></div></th>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <script src="vue-debug.js"></script>
    <script src="main.js" ></script>

</html>
