html, body {
    margin: 0; height: 100%; overflow: hidden;
}

#gridContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background-color: lightcyan; */
    /* border: solid black 10px; */
}

#grid {
    border: solid black 1px;
    padding: 0px;
    width: 100%;
    position: absolute;
    border-spacing: 0px;
}

#grid tr{
    padding: 0px;
}

.alive {
    background-color: black;
    border: ridge gray 1px;
}

.dead {
    background-color: white;
    border: ridge black 1px;
}

/* .alive, .dead {
} */

.void {
    margin-top: 100%;
}


/* The switch - the box around the toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The toggle */
.toggle {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.toggle:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .toggle {
background-color: #2196F3;
}

input:focus + .toggle {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded toggles */
.toggle.round {
border-radius: 34px;
}

.toggle.round:before {
border-radius: 50%;
}